**/*.mp3
**/*.wav
**/*.mkv
**/*.avi
**/*.MP3
**/*.WAV
**/*.AVI
**/*.MKV
**/*.exe
venv
env
**/__pycache__
**/cudnn-windows-x86_64-8.9.6.50_cuda12-archive
**/ffmpeg-master-latest-win64-gpl
testing
**/dist
**/build
log/*
profiling/*
whisper_models
**/*.bin