ffmpeg-python==0.2.0
accelerate==0.27.0
wheel==0.42.0
optimum==1.16.2
tk-tools==0.16.0
customtkinter==5.2.2
screeninfo==0.8.1
pyyaml==6.0.1
pygame==2.5.2
mutagen==1.47.0
pydantic_yaml[ruamel, pyyaml]==0.8.1
pillow==10.2.0
faster-whisper==0.10.0
tkinter-tooltip==3.0.0
torch==2.2.0
pyinstaller==6.4.0
pylint==3.0.3
