ffmpeg-python==0.2.0
accelerate==0.27.0
wheel==0.42.0
optimum==1.16.2
tk-tools==0.16.0
customtkinter==5.2.2
pyyaml==6.0.1
pydantic_yaml[ruamel, pyyaml]==0.8.1
pillow==10.2.0
tkinter-tooltip==3.0.0
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
pyinstaller==6.4.0
pylint==3.0.3
pydub==0.25.1
matplotlib==3.8.3
py3nvml==0.2.7
audioplayer==0.6
mypy==1.9.0
openai-whisper==20231117
